@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #111111;
    padding: 0px 1rem;
}

/* ----- utility classes --- */

.flex{
    display: flex;
    align-items: center;
}

.center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.flex-col{
    flex-flow: column;
}


/* --- container styling ---- */

.container{
    max-width: 900px;
    width: 100%;
    height: fit-content;
    background-color: #fff;
    border-radius: 5px;
}

.content{
    height: 400px;
}



.content .video{
  width:73%;
   height: 100%;
   padding: 0.5rem;
}

.video video{
    width: 100%;
}

/* --- list-video-- */
.video-list{
    width:25%;
    overflow-y: auto;
    height: 100%;
    padding: 0.5rem;
}
.video-list::-webkit-scrollbar{
    width: 0px;
}

.list-video{
    width: 100%;
    margin-bottom: 10px;
}

.list-video video{
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.list-video span,
.video-name{
    display: block;
    color: #000;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
}


@media screen and (max-width:850px) {
    body{
        height: fit-content;
    }
    .content{
        height: fit-content;
        flex-direction: column-reverse;
    }
    
    .content .video{
        width: 100%;
    }
    
    .video-list{
        flex-direction: row;
        width: 100%;
        gap: 10px;
        height: 497px;
        flex-wrap: wrap;
        overflow-x: auto !important;
    }
}